@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using Microsoft.Extensions.Options
@using HeuristicSearchMethodsSimulation.Models

@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@inject IOptions<AppOptions> appOptionsAccessor

@{
    var title = "HeuristicSearchMethodsSimulation";
    var theme = "default";
    try
    {
        title = appOptionsAccessor.Value.Title;
        theme = appOptionsAccessor.Value.Theme;
    }
    catch { }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @title</title>
    <link rel="stylesheet" href="~/themes/@theme/identity/bootstrap.min.css" />
    <link rel="stylesheet" href="~/themes/@theme/identity/site.css" />
</head>
<body>
    <div class="page vh-100 d-flex flex-column">
        <nav class="navbar navbar-light bg-light flex-shrink-0 overflow-hidden">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand text-truncate" href="~/">@appOptionsAccessor.Value.Title</a>
                <div class="flex-fill d-none d-md-block"></div>
                <div class="d-flex flex-grow-0 flex-wrap">
                    @{
                        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                    }
                    @if (result.Success)
                    {
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    else
                    {
                        throw new InvalidOperationException("Whoops, something went wrong...");
                    }
                </div>
            </div>
        </nav>

        <div class="flex-fill overflow-auto p-3">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <footer class="flex-shrink-0 p-2 small border-top text-muted">
            <div class="container">
                &copy; @appOptionsAccessor.Value.Year - @appOptionsAccessor.Value.Title
            </div>
        </footer>
    </div>

    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
