<div class="items-container d-flex flex-wrap justify-content-center container @CssClass">
	<Iterations Items="Items" Context="Item" T="MenuItem">
		<a class="card-wrapper d-block m-2 btn p-0 @(Item.Disabled ? " disabled": string.Empty)" href="@Item.Url" disabled="@Item.Disabled">
			<div class="card">
				<img src="@Item.ImageUrl" class="card-img-top img-fluid" alt="@Item.Title">
				<div class="card-body">
					<h5 class="card-title d-flex flex-wrap align-items-center justify-content-center">
						<Condition Evaluation="Item.Disabled">
							<Match>
								<img class="coming-soon-badge me-1" src="images/coming-soon-badge.png" />
							</Match>
						</Condition>

						@Item.Title
					</h5>
				</div>
			</div>
		</a>
	</Iterations>
</div>

@code {
	[Parameter] public string? CssClass { get; set; }

	private List<MenuItem> Items { get; } = new() {
		new(Title: "Traveling Sales Man", Url: "TravelingSalesMan", ImageUrl: "images/traveling-salesman.png", Disabled: false),
		new(Title: "Knapsack", Url: "ComingSoon", ImageUrl: "images/knapsack.png"),
		new(Title: "Battleship", Url: "ComingSoon", ImageUrl: "images/battleship.png"),
		new(Title: "Max Cut", Url: "ComingSoon", ImageUrl: "images/max-cut.png"),
		new(Title: "Min Color", Url: "ComingSoon", ImageUrl: "images/min-color.png"),
		new(Title: "Mastermind", Url: "ComingSoon", ImageUrl: "images/mastermind.png"),
	};
}
