<div class="slider-container">
    <div class="bubble-container">
        <div class="bubble" style="left: @BubblePosition">
            <div class="bubble-text">@Value</div>
        </div>
    </div>
    <input type="range" class="slider" min="@Min" max="@Max" step="@Step" @bind="Value" @oninput="OnValue" />
</div>

@code {
    [Parameter] public double Min { get; set; } = 0d;
    [Parameter] public double Max { get; set; } = 100d;
    [Parameter] public double Step { get; set; } = 1d;
    [Parameter] public double Value { get; set; }
    [Parameter] public EventCallback<double> ValueChanged { get; set; }

    private string BubblePosition
    {
        get
        {
            var value = Math.Min(Math.Max(Math.Abs(Value / Max) * 100d, 0d), 100d);
            var offset = (value / 100d);

            return $"calc({value}% - calc(var(--base-width, 25px) * {offset}))";
        }
    }

    protected override void OnParametersSet()
    {
        if (Max < Min) Max = Min;

        if (Step < 0) Step = Max * .1d;
    }

    private async Task OnValue(ChangeEventArgs e)
    {
        int.TryParse(e.Value?.ToString() ?? "0", out var value);
        await ValueChanged.InvokeAsync(value).ConfigureAwait(true);
    }
}
