<Condition Evaluation="Collection.HasInsufficientData()">
	<NotMatch>
		<div class="traveling-salesman-guided-direct-builder-container d-flex @CssClass">
			<div class="builder-buttons-container d-flex flex-wrap flex-fill justify-content-center me-1">
				<Iterations T="GuidedDirectIteration" Items="SelectedCollection">
					<button type="button"
							class="btn btn-sm m-1 rounded-pill btn-info"
							disabled="@true">
						<Condition Evaluation="context.Index > 0">
							<Match>
								<span>@(context.Index) - </span>
							</Match>
						</Condition>
						<span>@context.Node.Label</span>
						<span>(@context.Node.ShortCode)</span>
					</button>
				</Iterations>
				<Iterations T="LocationGeo" Items="NonSelectedCollection">
					<button type="button"
							class="btn btn-sm m-1 rounded-pill btn-outline-info"
							disabled="@Disabled"
							@onclick="() => OnSelection.InvokeAsync(context)">
						<span>@context.Label</span>
						<span>(@context.ShortCode)</span>
					</button>
				</Iterations>
			</div>
			<Condition Evaluation="Selected?.Count > 1">
				<Match>
					<button type="button"
							class="btn btn-outline-warning btn-sm flex-shrink-0"
							disabled="@Disabled"
							@onclick="OnReset.InvokeAsync">
						Reset
					</button>
				</Match>
			</Condition>
		</div>
	</NotMatch>
</Condition>

@code {
	[Parameter] public string? CssClass { get; set; }
	[Parameter] public bool Disabled { get; set; }
	[Parameter] public IReadOnlyList<LocationGeo>? Collection { get; set; }
	[Parameter] public Dictionary<Guid, GuidedDirectIteration>? Selected { get; set; }
	[Parameter] public EventCallback<LocationGeo> OnSelection { get; set; }
	[Parameter] public EventCallback<bool> OnReset { get; set; }
	private IEnumerable<GuidedDirectIteration> SelectedCollection => 
		Selected?.Values.OrderBy(x => x.Index) ??
		Enumerable.Empty<GuidedDirectIteration>();
	private IEnumerable<LocationGeo> NonSelectedCollection => 
		Collection?.Where(x => Selected?.ContainsKey(x.Id) == false) ??
		Enumerable.Empty<LocationGeo>();
}
