<Condition Evaluation="Data?.Count > 0">
    <Match>
        <div class="traveling-salesman-matrix-container @CssClass">
            <div class="table-responsive">
                <table class="table table-striped text-center m-0">
                    <thead>
                        <Condition Evaluation="Algorithm == TravelingSalesManAlgorithms.Evolutionary">
                            <Match>
                                <tr>
                                    <th class="small"></th>
                                    <Iterations T="string" Items="HeaderIndices">
                                        <th class="small">@context</th>
                                    </Iterations>
                                </tr>
                            </Match>
                        </Condition>
                        <tr>
                            <th class="small">Distance (Km)</th>
                            <Iterations T="string" Items="Data![0].Xlabels">
                                <th class="small">@context</th>
                            </Iterations>
                        </tr>
                    </thead>
                    <tbody>
                        <Iterations T="LocationRow" Items="Data">
                            <tr>
                                <th class="small">@context.Ylabel</th>
                                <Iterations T="LocationToLocation" Items="context.Collection" Context="childContext">
                                    <td class="@CellCssClass(childContext)">
                                        @childContext.DistanceInKilometers.ToString("#0.##")
                                    </td>
                                </Iterations>
                            </tr>
                        </Iterations>
                    </tbody>
                </table>
            </div>
            <NumberOfUniqueLocations Value="NumberOfUniqueRoutes" CssClass="mt-2" />
        </div>
    </Match>
</Condition>

@code {
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public List<LocationRow>? Data { get; set; }
    [Parameter] public long NumberOfUniqueRoutes { get; set; } = 0L;
    [Parameter] public TravelingSalesManAlgorithms? Algorithm { get; set; }

    private IEnumerable<string> HeaderIndices => Data switch 
    {
        { Count: > 0 and var count } => Enumerable.Range(0, count).Take(count).Select(x => x == 0 ? string.Empty : x.ToString()),
       _ => Enumerable.Empty<string>()
    };

    private string CellCssClass(LocationToLocation cell) => (
        cell switch
        {
            { IsHighlightedDistance: true } => "min-distance bg-info bg-opacity-25",
            { A.ShortCode: var a, B.ShortCode: var b } when a == b => "text-muted",
            _ => string.Empty
        }
    );
}
